body {
  margin: 0;
  padding: 0;
  background: url(../img/img6.jpg) no-repeat center top;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: 'Fondamento', cursive;*/
  height: 100vh;
}

.login {
  width: 360px;
  height: 400px;
  background:rgba(12, 11, 12, 0.2);
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 100px;
}

.login .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
  
}
input::placeholder{
  color: black;
}

.login input[type="text"], .login input[type="password"] {
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
}

button[type="button"] {
  right: 10px;
  border: none;
  outline: none;
  height: 40px;
  background: rgb(128, 27, 27);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.login button[type="button"]:hover {
  cursor: pointer;
  background: #8d1606;
  color: #000;
}

.login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: black;
}

.login a:hover {
  color: rgb(128, 27, 27);
}
label .mensaje{
  color: #8d1606;
}
